* {margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, sans-serif;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem 1.25rem;
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
}

.logo {
    width: 7rem;
    height: auto;
    
}

h1 {
    font-size: 1.6rem;
    margin: 0;
    text-align: center;
    line-height: 1.5;
    width: 100%;
}

/* Main */

h2 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

